body{

  margin: 0;
  background-color: white;
  text-align: center;

}
ul{
  margin: auto;
  width: 20%;
}
h1{
  width: 50%;
  margin:0 auto 0 auto;
  font-family: 'Akaya Telivigala', cursive;
  color: red;
}
h2{
  font-family: 'Pacifico', cursive;
}
p{
  font-family: 'Dancing Script', cursive;

}
.d1{
  background-color: #caf7e3;
/*  height: 200px;
  width: 200px;
  border: solid 10px;*/
/*  position: relative;
  display: inline-block;*/



}
.c2{position: absolute;
left: 50%;}
.c1{
  position: absolute;
  top: 50px;
  left: 70%;
}
.c4{
  position: absolute;
  left: 15%;
}
.self{
  background-color: white;;

}
hr{
  border-style: dotted;
  border-color: grey;
}
.skillpng{
  height: 50px;
  width: 50px;
}
.skgif{
  position: absolute;
  right: 10%;
  /*border-style: dotted;*/
  border-radius: 50px;
  height: 150px;
  width: 150px;
}
.skgif:hover{
  background-color: red;
}
.gif2{
  position: absolute;
  right: 10%;
  height: 250px;
  width: 350px;
}
.gif3{
  position: absolute;
  left: 10%;
  height: 250px;
  width: 350px;
}
.skgif2{
  position: absolute;
  left: 10%;
  /*border-style: dotted;*/
  border-radius: 50px;
  height: 150px;
  width: 150px;
}
.skgif2:hover{
  background-color: blue;
}
.skills{
  background-color: white;;

}
.contacts{
  background-color: white;;

}
